<% if (title) { %>
    <h1 id="class-title"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<% if (notice) { %>
    <div class="error-message"><%= notice %></div>
    <% } %>

<div>
    <form class="form-container" action=""  method="post">
        <fieldset>

          <label class="login">Email:
            <input type="email" placeholder="enter@validEmail.com" name="account_email" required>
          </label>
          
    
          <label class="login">Password: 
          <input type="password" placeholder="xxx123" name="account_password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$">
          </label>

          <span class="form-msg">* Passwords must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character.</span>
          
          <button id="login-btn" type="submit">Login</button>
          
          <span class="register">No account? <a href="/account/register">Sign-Up</a></span>

        </fieldset>
    </form>
</div>