<% if (title) { %>
    <h1 id="class-title"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
<% if (notice) { %>
    <div class="error-message"><%= notice %></div>
    <% } %> 

<%- form %>