<header id="top-header">
    <div class="siteName">
        <img id="logo" src="/images/site/logo-big.webp" alt="brand logo">
        <a id="logo-name" href="/" title="Return to home page">CSE Motors</a>
    </div>
    <div id="tools">
        <% if (loggedin) { %>  <!-- Check if loggedin is truthy -->
            <button class="act-btn"><a class="act-link" href="/account">My Account</a></button>
            <button class="act-btn"><a class="act-link" href="/account/logout">Logout</a></button>
          <% } else { %>  <!-- Otherwise show 'My Account' -->
            <button class="act-btn"><a class="act-link" href="/account/login">Login</a></button>
          <% } %>
    </div>
</header>