<div class="hero-image">
    <div class="hero-text">
        <h1>Welcome to CSE Motors!</h1>
        <div id="car-info">
            <h2>DMC Delorean</h2>            
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy dice!</li>
            <li><img src="/public/images/site/own_today.png" alt="own today"></li>
        </div>
    </div>
</div>