<nav>
    <div id="myTopnav" class="topnav">
        <a href="#home" class="active">Home</a>
        <a href="#custom">Custom</a>
        <a href="#sedan">Sedan</a>
        <a href="#suv">SUV</a>
        <a href="truck">Truck</a>
    </div>
</nav>